/*
STYLE PLAN
Background - EDE0D4
Body Text - 3F2A1C
Highlight - F58549

*/

* {
    text-align: center;
    color: #3F2A1C;
}
body{
    background-color: #EDE0D4;
}

.topnav {
    list-style-type: none;

    overflow: hidden;
    background-color: #414833;
    position: fixed;
    top: 0;

    width: 99.3%;
}

.topnav a {
    float: left;
    color: #F58549;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #583B28;
    color: #EDE0D4;
}

.topnav a.active {
    background-color: #583B28;
    color: #EDE0D4  ;
}
.topnav a.split {
    float: right;
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
    background-color: #414833;
    color: white;
}


.padding{
    padding: 40px;
}
.intro-text {
    vertical-align: center;
    position: relative;
    align-content: center;
}

.home-buttons{
    display: flex;
    justify-content: center;
}

.home-buttons a{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: #F58549;
    text-decoration: none;
    background-color: #656D4A;
}
.home-buttons a:hover{
    background-color: #ddd;
    color: black;
}

h1 {
    font-family: "Courier New", sans-serif;
    font-size: 120px;
    margin-bottom: -10px;
}
h2
{
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 20px;
}
