/*
STYLE PLAN
Background - EDE0D4
Body Text - 3F2A1C
Highlight - F58549

*/

* {
    align-content: center;
    color: #3F2A1C;
}
body{
    background-color: #EDE0D4;
}

.topnav {
    list-style-type: none;

    overflow: hidden;
    background-color: #414833;
    position: fixed;
    top: 0;

    width: 99.3%;
}
.topnav a {
    float: left;
    color: #F58549;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: #583B28;
    color: #EDE0D4;
}
.topnav a.active {
    background-color: #583B28;
    color: #EDE0D4  ;
}
.topnav a.split {
    float: right;
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
    background-color: #414833;
    color: white;
}


.padding{
    padding: 40px;
}
.padding-small{
    padding: 20px;
}
.intro-text {
    vertical-align: center;
    position: relative;
    align-content: center;

}

.home-buttons{
    display: flex;

}
.home-buttons a{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: #F58549;
    text-decoration: none;
    background-color: #656D4A;
}
.home-buttons a:hover{
    background-color: #ddd;
    color: black;
}

h1 {
    font-family: "Courier New", sans-serif;
    font-size: 120px;
    margin-bottom: -10px;
}
h2 {
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.project-overview {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #656D4A;
    padding: 10px;
    justify-content: center;

}
.card img{
    align-self: center;
    width: 483px;
    height: 283px;
}
.project-overview-collapsible {
    background-color: #583B28;
    color: #EDE0D4;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
}
.project-overview-collapsible:hover {
    background-color: #7a5339;
}
.project-overview-content {
    display: none;
    background-color: #EDE0D4;
    padding: 10px;

}
.project-overview-content p{
    text-align: left;
    font-size: 18px;
}
.project-overview-content ul {
    text-align: left;
}
.project-overview-content li{
    text-align: left;
}

.front-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.title-card{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.title-card img{
    width: 753px;
    height: 200px;
}
.title-links{
    display: flex;
    justify-content: center;
}

.game-description{
    text-align: center;
}
.game-description p{
    text-align: center;
    font-size: 25px;
    color: #3F2A1C;
}
.game-description ul{
    font-size: 20px;
    display: inline-block;
    text-align: left;
    padding-top: -10px;
}

p.list-title{
    padding-bottom: -100px;
}
.game-description-content {
    display: flex;

    align-content: space-evenly;
    background-color: #656D4A;
    color: #EDE0D4;
}
.game-description-content p{
    color: #EDE0D4;
    padding: 15px;
}
.game-description-content ul{
    color: #EDE0D4;
}

.about-me{
    padding-left: 15px;
}
.about-me p{
    font-size: 24px;
}


.info-block-title{
    margin-top: -45px;
    margin-bottom: -35px;
}
.info-block-body{

}
.info-block-body h1{
    padding-left: 15px;
    font-size: 55px;
}
.info-block-body p{
    font-size: 24px;
    padding-left: 15px;
}
.info-block-padding
{
    padding: 10px;
}
